@layoutLayer2("Exporter la liste des collaborateurs", "export") {
<div class="row">
    <div class="col-xs-12">

        <h1>Exportation de la liste des collaborateurs</h1>
        <p>En cliquant sur le boutton exporter la liste des collaborateurs, vous allez générer
        un fichier Excel contenant les informations de tous les collaborateurs.</p>
        <p>
            <a class="btn btn-primary btn-lg" role="button" href="@routes.Application.exporterCollaborateurs()">
                <span class="glyphicon glyphicon-download-alt"></span> Exporter la liste des collaborateurs
            </a>
        </p>
    </div>
</div>
}