@(colForm: Form[Collaborateur] , roles: List[Role], managersRH: List[Collaborateur])
@import helper._
@layoutLayer2("Nouveau collaborateur", "nouveauCol") {

    @* le forumulaire d'ajout d'un nouveau collaborateur *@

        @form(routes.Application.ajouterCol(), 'class -> "form-horizontal"){
<fieldset xmlns="http://www.w3.org/1999/html">
        <legend><span class="glyphicon glyphicon-file"></span>Informations</legend>
        <div class="form-group">
            @input(colForm("matricule") , '_label -> "Matricule : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="number" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">Le matricule du collaborateur est un entier de 5 chiffres, exemple : 10999 (obligatoire)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("nom") , '_label -> "Nom : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">(obligatoire)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("prenom") , '_label -> "Prénom : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">(obligatoire)</span>
            }
        </div>
        <div class="form-group">
            @inputRadioGroup(
            colForm("sexe"),
            options = options("M"->"Masculin","F"->"Féminin"),
            '_label -> "Sexe : ", '_showConstraints -> false, '_showErrors -> false)
            <span class="help-block">(obligatoire)</span>
        </div>
        <div class="form-group">
            @input(colForm("site") , '_label -> "Site : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="text" placeholder="exemple : Rabat" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">Le matricule du collaborateur se compose de 5 chiffres, exemple : 10000 (optionnel)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("bu") , '_label -> "BU : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="text" placeholder="Business Unite" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">Champs composé de quatre lettres. (obligatoire)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("dateEmbauche") , '_label -> "Date d'embauche : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="date" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">Format de la date : "jj/mm/aaaa" (obligatoire)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("participeAuSiminaire") , '_label -> "A participé au siminaire : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="checkbox" class="form-control" value="true" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">A cocher si le collaborateur a déjà particpé au siminaire. (optionnel)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("dateParticipation") , '_label -> "Date de participation au siminaire : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="date" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">Format de la date : "jj/mm/aaaa" (optionnel)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("posteNiveauApp") , '_label -> "Poste niveau APP : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">Champ composé de trois lettres. (obligatoire)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("posteActuel") , '_label -> "Poste actuel : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="text" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">Champs composé de quatre lettres. (obligatoire)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("salaireActuel") , '_label -> "Salaire actuel : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="number" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">(obligatoire)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("managerActuel.id") , '_label -> "Manager RH actuel : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <select class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
                <option value="-1" default selected>Choisissez un manager...</option>
                @for(m <- managersRH){
                    <option value="@m.getId()">@m.getNom()</option>
                }
            </select>
            <span class="help-block">Choisissez le manager actuel du collaborateur. (optionnel)</span>
            }
        </div>
    </fieldset>
    <fieldset>
        <legend><span class="glyphicon glyphicon-lock"></span> Compte</legend>
        <div class="form-group">
            @input(colForm("compte.email") , '_label -> "E-mail : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="email" placeholder="email@@collaborateur.ma" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">(obligatoire)</span>
            }
        </div>
        <div class="form-group">
            @input(colForm("compte.motDePasse") , '_label -> "Mot de passe : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <input type="password" class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
            <span class="help-block">(obligatoire)</span>
            }
        </div>
    </fieldset>
    <fieldset>
        <legend><span class="glyphicon glyphicon-tower"></span> Rôle</legend>
        <div class="form-group">
            @input(colForm("role.description") , '_label -> "Rôle de du collaborateur : ", '_showConstraints -> false, '_showErrors -> false) { (id, name, value, args) =>
            <select class="form-control" name="@name" id="@id" @toHtmlArgs(args)>
                @for(r <- roles){
                    <option value="@r.getDescription()">@r.getDescription()</option>
                }
            </select>
            <span class="help-block">Choisissez le rôle du collaborateur. (obligatoire)</span>
            }
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-ok"></span> Ajouter le collaborateur
            </button>
        </div>
        }
    </fieldset>
<script type="text/javascript" src='@routes.Assets.at("javascripts/checkboxChecker.js")'></script>
}